# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Xcode & Swift Build Files
.build/
DerivedData/
*.xcuserstate
*.xcbkptlist
.swiftpm/xcode/

# Local Scratch
scratch/
tmp/
